{% extends "layout.html" %}


{% block header %}
<title>HOME-Flask Demo</title>
<link ref="stylesheet" type="text/css" href="/static/ui/css/index.css">
{% endblock header %}


{% block body %}
<div class="ui one column page grid">
    <div class="column ">
        <div class="ui menu">
            <a class="active item">
                <i class="home icon"></i>Home
            </a>
            <a class="item">
                <i class="mail icon"></i>Contact Me
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="column center aligned">
            <h1 class="ui header">
            Flask Demo 
                <div class="sub header">Something is coming.</div>
            </h1>
        </div>
    </div>
</div>
{% endblock body %}
