<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/static/ui/css/semantic.css">
        
        <script src="/static/ui/javascript/jquery.js"></script>
        <script src="/static/ui/javascript/semantic.js"></script>

        {% block header %}
        <title>Flask Demo</title>
        <meta http-equiv="" content="" />
        {% endblock header %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
